body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1215_ann {
  border-width:0px;
  position:absolute;
  left:93px;
  top:-4px;
  width:1px;
  height:1px;
}
#u1217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1217_ann {
  border-width:0px;
  position:absolute;
  left:293px;
  top:-4px;
  width:1px;
  height:1px;
}
#u1219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1221_ann {
  border-width:0px;
  position:absolute;
  left:893px;
  top:-4px;
  width:1px;
  height:1px;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u1223_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u1223_seg1 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:30px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1225_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u1225_seg1 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:30px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u1227_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u1227_seg1 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1229_ann {
  border-width:0px;
  position:absolute;
  left:1293px;
  top:-4px;
  width:1px;
  height:1px;
}
#u1231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:1400px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1231_ann {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:-4px;
  width:1px;
  height:1px;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:1450px;
  top:60px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u1233_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:69px;
}
#u1233_seg1 {
  border-width:0px;
  position:absolute;
  left:-604px;
  top:61px;
  width:608px;
  height:8px;
}
#u1233_seg2 {
  border-width:0px;
  position:absolute;
  left:-604px;
  top:0px;
  width:8px;
  height:69px;
}
#u1233_seg3 {
  border-width:0px;
  position:absolute;
  left:-609px;
  top:-6px;
  width:18px;
  height:18px;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:-350px;
  top:57px;
  width:100px;
  word-wrap:break-word;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:30px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u1235_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u1235_seg1 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:1300px;
  top:30px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u1237_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u1237_seg1 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:60px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u1239_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:67px;
}
#u1239_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:59px;
  width:408px;
  height:8px;
}
#u1239_seg2 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:0px;
  width:8px;
  height:67px;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:55px;
  width:100px;
  word-wrap:break-word;
}
#u1241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:30px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u1243_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u1243_seg1 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:60px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u1245_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:6px;
  height:8px;
}
#u1245_seg1 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-4px;
  width:8px;
  height:73px;
}
#u1245_seg2 {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:61px;
  width:210px;
  height:8px;
}
#u1245_seg3 {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:0px;
  width:8px;
  height:69px;
}
#u1245_seg4 {
  border-width:0px;
  position:absolute;
  left:-209px;
  top:-6px;
  width:18px;
  height:18px;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:-148px;
  top:57px;
  width:100px;
  word-wrap:break-word;
}
#u1247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:30px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u1249_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u1249_seg1 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
