body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1220_ann {
  border-width:0px;
  position:absolute;
  left:93px;
  top:-4px;
  width:1px;
  height:1px;
}
#u1222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1222_ann {
  border-width:0px;
  position:absolute;
  left:293px;
  top:-4px;
  width:1px;
  height:1px;
}
#u1224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1226_ann {
  border-width:0px;
  position:absolute;
  left:893px;
  top:-4px;
  width:1px;
  height:1px;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u1228_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u1228_seg1 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:30px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1230_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u1230_seg1 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:30px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u1232_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u1232_seg1 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1234_ann {
  border-width:0px;
  position:absolute;
  left:1293px;
  top:-4px;
  width:1px;
  height:1px;
}
#u1236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:1400px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1236_ann {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:-4px;
  width:1px;
  height:1px;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:1450px;
  top:60px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u1238_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:69px;
}
#u1238_seg1 {
  border-width:0px;
  position:absolute;
  left:-604px;
  top:61px;
  width:608px;
  height:8px;
}
#u1238_seg2 {
  border-width:0px;
  position:absolute;
  left:-604px;
  top:0px;
  width:8px;
  height:69px;
}
#u1238_seg3 {
  border-width:0px;
  position:absolute;
  left:-609px;
  top:-6px;
  width:18px;
  height:18px;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:-350px;
  top:57px;
  width:100px;
  word-wrap:break-word;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:30px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u1240_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u1240_seg1 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:1300px;
  top:30px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u1242_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u1242_seg1 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:60px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u1244_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:67px;
}
#u1244_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:59px;
  width:408px;
  height:8px;
}
#u1244_seg2 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:0px;
  width:8px;
  height:67px;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:55px;
  width:100px;
  word-wrap:break-word;
}
#u1246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:30px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u1248_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u1248_seg1 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:60px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u1250_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:6px;
  height:8px;
}
#u1250_seg1 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-4px;
  width:8px;
  height:73px;
}
#u1250_seg2 {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:61px;
  width:210px;
  height:8px;
}
#u1250_seg3 {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:0px;
  width:8px;
  height:69px;
}
#u1250_seg4 {
  border-width:0px;
  position:absolute;
  left:-209px;
  top:-6px;
  width:18px;
  height:18px;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:-148px;
  top:57px;
  width:100px;
  word-wrap:break-word;
}
#u1252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:30px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u1254_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u1254_seg1 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
