body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:742px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:19px;
}
#u2015 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:18px;
}
#u2016 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  white-space:nowrap;
}
